.addModule {
  width: 100%;
  margin-top: 102px;
}

/* Icons */ 
.icon-mid {
  composes: fa fa-3x from '../common/icons.css';
}

.circle {
  composes: circle3x from '../common/icons.css';
}

.icon-mid:hover {
  cursor: pointer;
  color: #EA2853;
}

.plus {
  composes: fa-plus-circle from '../../../node_modules/font-awesome/css/font-awesome.css';
  color: white;
}

.left {
  composes: fa-arrow-circle-left from '../../../node_modules/font-awesome/css/font-awesome.css';
  color: white;
}

.right {
  composes: fa-arrow-circle-right from '../../../node_modules/font-awesome/css/font-awesome.css';
  color: white;
}
