.fa {
  composes: fa from '../../../node_modules/font-awesome/css/font-awesome.css';
}

.fa-3x {
  composes: fa-3x from '../../../node_modules/font-awesome/css/font-awesome.css';
}

.fa-2x {
  composes: fa-2x from '../../../node_modules/font-awesome/css/font-awesome.css';
}

.delete {
  composes: fa-times-circle-o from '../../../node_modules/font-awesome/css/font-awesome.css';
}

.view {
  composes: fa-eye from '../../../node_modules/font-awesome/css/font-awesome.css';
}